@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #3b4652;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    margin-top: 5px;
    margin-left: 0px;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}